# Dictionary practice

In [1]:
d={1:10,2:30,3:30}
d

{1: 10, 2: 30, 3: 30}

In [6]:
d[1]

10

In [17]:
# print key names using for loop
for i in d:
    print(i)

#print key names using d.keys()
for i in d.keys():
    print(i,end=" ")

1
2
3
1 2 3

In [12]:
# print values using for loop
for i in d:
    print(d[i])

#another way using d.values()
for i in d.values():
    print(i,end=" ")

10 30 30 10 30 30

In [10]:
#print key and values using for loop
for i in d:
    print(i,":",d[i])

#another way using items
for k,v in d.items():
    print(k,":",v)

1 : 10
2 : 30
3 : 30
1 : 10
2 : 30
3 : 30

In [18]:
d['names']="values"
d

{1: 10, 2: 30, 3: 30, 'names': 'values'}

In [19]:
d[4]=40
d

{1: 10, 2: 30, 3: 30, 'names': 'values', 4: 40}

In [20]:
d[5]=[1,2,3]
d

{1: 10, 2: 30, 3: 30, 'names': 'values', 4: 40, 5: [1, 2, 3]}

In [21]:
d[6]=(3,2,1)
d

{1: 10, 2: 30, 3: 30, 'names': 'values', 4: 40, 5: [1, 2, 3], 6: (3, 2, 1)}

In [27]:
d[6]=sum(d.get(6))
d

{1: 10, 2: 30, 3: 30, 'names': 'values', 4: 40, 5: [1, 2, 3], 6: 6}

In [29]:
#pop the elements form dic
d.pop(6)
d

{1: 10, 2: 30, 3: 30, 'names': 'values', 4: 40, 5: [1, 2, 3]}

In [30]:
#remove the last item from dictionary
d.popitem()
d

{1: 10, 2: 30, 3: 30, 'names': 'values', 4: 40}

In [31]:
d.pop('names')
d

{1: 10, 2: 30, 3: 30, 4: 40}

In [32]:
del d[4]
d

{1: 10, 2: 30, 3: 30}

In [36]:
d={1: 10, 2: 30, 3: 30, 4: 40}
d

{1: 10, 2: 30, 3: 30, 4: 40}

In [43]:
d1={3:30,4:40,5:50,6:60}
d1

{3: 30, 4: 40, 5: 50, 6: 60}

In [44]:
d.update(d1)
d

{1: 10, 2: 30, 3: 30, 4: 40, 5: 50, 6: 60}

In [48]:
#add two and above dictionaries to one dict
dd={1:20,2:30,3:40}
dd2={4:50,5:40}
dd3={6:60,7:70}
dd4={}
for i in (dd,dd2,dd3):
    dd4.update(i)
dd4

{1: 20, 2: 30, 3: 40, 4: 50, 5: 40, 6: 60, 7: 70}

In [49]:
d={1:50,3:20,5:25,2:70}
d

{1: 50, 3: 20, 5: 25, 2: 70}

In [56]:
di={1:50,3:20,5:25,2:70}
s=sorted(di.values())
s

[20, 25, 50, 70]

In [57]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [68]:
def showchar(x):
    z=x.capitalize()
    return z.replace(" ","")
a=input()
C=showchar(a)
print(C)

A P S S D C World
Apssdcworld

In [69]:
s=" dfoslkf owjgfhwo giowgbw egiouwrgb uo"
s1=s.title()
print(s1)

 Dfoslkf Owjgfhwo Giowgbw Egiouwrgb Uo

In [92]:
def namecheck(x):
    c=0
    a=x.split()
    for i in a:
        if(c<len(i)):
            c=len(i)
    for j in a:
        if(c==len(j)):
            print(j)
s=input()
namecheck(s)

Hai hello world
hello
world

#  Print all the words which starts with the given character, If no words matches with the given condition you should print -1
ramu ravi balu

r

ramu
ravi

In [4]:
def namech(a,k):
    a=a.split()
    c=0
    for i in a:
        if(k==i[0]):
            print(i)
            c=c+1
    if(c==0):
        print("-1")
n=input()
sw=input()
namech(n,sw)

ramu ravi balu
r
ramu
ravi

# 4. Print all the words which words not ends with vowels(a,e,i,o,u)
ramu ravi balu raju mahesh

mahesh

In [12]:
def naneends(x):
    
    x=x.split()
    for i in x:
        if not i.endswith(tuple("aeiou")):
            print(i)

    
n=input()
naneends(n)

ramu ravi rajesh
rajesh

# 5. Print all the words which word contains duplicate characters
ramu akash balu

akash

In [62]:
def namesdup(x):
    
#s="ramu akash balu"
    x=x.split()
    for word in words:
        if not len(set(word))==len(word):
            print(word)
n=input()
namesdup(n)

ramu akash balu
akash

In [61]:
#remove duplicate numbers
s=[123,123,3,4,4,895,555,5,4,2,2]
s1=[]
for i in s:
    if i not in s1:
        s1.append(i)
print(s1)

#using set method it removes the duplicates
#print(set(s))
print(list(set(s)))

[123, 3, 4, 895, 555, 5, 2]
[2, 3, 4, 5, 555, 123, 895]

In [43]:
#find character count of string
chars = "abcdefghijklmnopqrstuvwxyz"
check_string = "i am checking this string to see how many times each character appears"

for char in chars:
  count = check_string.count(char)
  if count > 1:
    print (char,count,end="")

a 7c 5e 7g 2h 5i 5m 3n 3o 2p 2r 4s 5t 5

In [44]:
#find number of words in a string
s="hello very good morning"
res=len(s.split())
print("no of words in a string: ",res)

no of words in a string:  4

# 6. Swap the case of all characters in given string except last character
HellowOrld

hELLOWoRLd

In [72]:
def nameswap(x):
    
    #s="HellowOrld"
    s1=x[-1]
    s2=x[:-1].swapcase()
    print(s2+s1)
s=input()
nameswap(s)

HellowOrld
hELLOWoRLd

# 7. Print the number of words in a given string (here word starting character contains UPPER letter)
HelloWorld

2

In [52]:
#s="HelloWorldPrime"
def namewordcount(x):
    c=0
    for i in x:
        if(i.title()):
            c=c+1
    print(c)
s=input()
namewordcount(s)

HelloWorlD
3

# 1.Print even and odd numbers up to given range.

In [96]:
def num(n):
    for i in range(n):
        if(i%2==0):
            print(i,end=" ")
    print('\n')
    for i in range(n):
        if(i%2!=0):
            print(i,end=" ")
        
n=int(input())
num(n)

10
0 2 4 6 8

1 3 5 7 9

# 2.print given numbers prime or not.
 5 9 
 output: -->5  True
           9   False

In [1]:
def isprimecheck(n):
    for i in n:
        if(i==2):
            return True
        else:
            for k in range(2,i):
                if(i%k==0):
                    return False
                else:
                    return True

n=list(map(int,input().split()))
c=isprimecheck(n)
print(c)

3
True

# 3.Print second Max Ex: 12 34 23 45 65 
o/p:45

In [33]:
list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
li=[]
list1.sort()
li=list1
print("sorted list: ",li)
print("max of list: ",li[-1])
print("second max of list: ",li[len(li)-2])
print("smallest of list: ",li[0])
print("second smallest: ",li[1])

sorted list:  [2, 4, 6, 8, 10, 12, 31, 41, 45]
max of list:  45
second max of list:  41
smallest of list:  2
second smallest:  4

#  Print prime numbers up to given range. --> input: 10 
output: 2 3 5 7

In [37]:
def rangeprime(r):
    for i in range(2,r+1):
        k=0
        for j in range(2,i//2+1):
            if(i%j==0):
                k=k+1
        if(k<=0):
            print(i, end=" ")


n=int(input())
rangeprime(n)

50
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

# 4.Print factorial of a given number if it is a prime otherwise print power of the value.

#### test cases : 2
#### 5  --> 120
#### 4 --> 16

In [4]:
def primetest(t):
    f=1
    for t1 in range(t):
        n=list(map(int,input().split()))
        for i in n:
            if(i==2):
                print("yes")
            else:
                 for k in range(2,i):
                    if(i%k==0):
                        print("it is not prime: ",i)
                        a=i*i
                        print(a)
                        break
                    else:
                        print("it is a prime: ",i)
                        for i in range(1,i+1):
                            f=f*i
                        print("fact: ",f)
                        f=1
                        break
t=int(input())
primetest(t)

2
4
it is not prime:  4
16
3
it is a prime:  3
fact:  6

In [6]:
#another way for prime number upto range
n=int(input())
for num in range(1,n+1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num,end=" ")

10
2 3 5 7

In [5]:
#ASCII Code formate
ch='z'
print(ord(ch)) #it converts the ascii code to ascii values

print(chr(65)) #it converts the ascii code to ascii character

122
A

#### 5.print count and sum of digits in a given string 

#### test cases: 2
#### 5 ---> 1 5
#### 3 5 7 2 3  ---> 5 20

In [1]:
x=int(input())
for i in range(1,x+1):
    n=list(map(int,input().split()))
    print(len(n),sum(n))

2
5
1 5
3 5 7 2 3
5 20

In [5]:
n=5
f=1
for i in range(1,n+1):
    f=f*i
print(f)

120

In [10]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [5]:
from shlex import split
s=input()
a=split(s)
for i in a:
    if(quotes(i)):
        print(i)

hsdkf f sd "kf fksd"

NameError: name 'quotes' is not defined

In [16]:
import shlex
s='kjdb jfbk kjd ksjbfkjs "bjf jfsf hsfb" jbfkjs "jbfkfjs dkjbv"'
#shlex.split(s)
re.findall(r "",s)

SyntaxError: invalid syntax (<ipython-input-16-f4a938d60523>, line 4)

In [9]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

In [27]:
string='welcome to find "find below one" ding'
if string.startswith('"') and string.endswith('"'):
    string = string[1:-1]
print(string)

welcome to find "find below one" ding