# print statement

In [2]:
print("hello welcome this program")

hello welcome this program

# operators

In [17]:
a=10
b=20
c=10.12
print(a+b+c)
print("the sum of ",a,"and",b,"and",c,"is ",a+b+c)

40.12
the sum of  10 and 20 and 10.12 is  40.12

In [19]:
a 1=10
print(a_1)

SyntaxError: invalid syntax (<ipython-input-19-4a91a0472043>, line 1)

In [29]:
a=1+2+3+ \
4+5+6
print(a)

b=(1+2+3+4+5+
  6)
print(b)

#single line separate with semicolon
a=10;b=20;c=30
print(a+b+c)

21
21
60

In [28]:
colors=['red','blue','green']
print(colors)

['red', 'blue', 'green']

In [1]:
li=[i for i in range(10)]
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
li=[]
for i in range(10):
    li.append(i)
li

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
li=[i*i for i in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
li=[5*i for i in range(10)]
li

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [10]:
li=[5*i for i in range(1,11)]
li

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [14]:
S="I AM RAMU"
print(S.split())

['I', 'AM', 'RAMU']

In [20]:
'abdulla'.count('a')

2

In [ ]:
names=input().split()
for name in names:
    for ch in name:
        if name.count(ch)>1:
            print(name)
            break

In [ ]:
list=[]
for i in range(10):
    list.append(i)
list

In [ ]:
list=[i for i in range(10)]
list

In [ ]:
list=[i for i in range(2,10,3)]